@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  height: 100vh;
  overflow: hidden;

  font-family: "PaytoneOne";
}


@font-face {
  font-family: "PaytoneOne";
  src: url("./assets/PaytoneOne-Regular.ttf");
}

/* .ant-form-item{
  margin: 0;
} */
.ant-tabs-nav-list{
  width: 100%;
}
.ant-tabs-tab{
  flex: 1;

  display: flex;
  justify-content: center;

  margin: 0 !important;
}
